<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center" style="color: #204d74;">Proteko Tecnologia e Serviços Ltda.</h1>
            <h2 class="text-center">Telefones</h2>		
            <h4 class="text-center">(51) 3061.8852 | (51) 3073.2313</h4>		
            <h2 class="text-center">Endereço</h2>		
            <h4 class="text-center">Rua Ernesto da Fontoura, 618 | São Geraldo | Porto Alegre | RS</h4>		
        </div>
    </div>
</div>