<div class="container">
    <div class="row" id="paragrafo">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <h1 id="info">A Empresa</h1>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <p id="infoParagrafo"> A Proteko Tecnologia e Serviços Ltda foi fundada no ano de 2004, na cidade de Porto Alegre, para atender a uma crescente demanda por serviços de implantação, assistência técnica e manutenção de sistemas de controle de acesso de veículos.</p>
        </div>
    </div>
    <div class="row" id="paragrafo">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <h1 id="info">Área de Atuação</h1>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <p id="infoParagrafo"> Empresa é especializada em sistemas de controle de acesso de veículos, instalação e manutenção de sistemas de CFTV digital e instalação de sistemas elétricos direcionados para equipamentos de automação.</p>
        </div>
    </div>
    <div class="row" id="paragrafo">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <h1 id="info">Clientes</h1>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <p id="infoParagrafo">Atualmente atendemos a operadoras de estacionamentos, garagens, hospitais, shopping center, universidades e redes de supermercados.</p>
            <p id="infoParagrafo">Temos cadastrados cerca de quarenta clientes, com aproximadamente 120 unidades que são atendidas por nossos técnicos.</p>
        </div>
    </div>
    <div class="row" id="paragrafo">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <h1 id="info">Atendimentos</h1>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <p id="infoParagrafo">Com um quadro formado por técnicos treinados e capacitados para trabalhar com diversos sistemas, temos condições de atender aos clientes de maneira eficiente e rápida. Sempre respeitando os critérios técnicos estabelecidos pelos fornecedores de cada sistema, procurando manter intactas as características originais dos sistemas.</p>
            <p id="infoParagrafo">Contamos ainda com o apoio de  unidades móveis, capazes de atender as mais variadas demandas de transporte de equipamentos e ferramentas, com o objetivo de dar agilidade aos atendimentos.</p>
            <p id="infoParagrafo">Em nossas instalações temos condições de realizar reparos, substituição de componentes e testes nos mais variados tipos de equipamentos utilizados em sistemas de controle de acesso de veículos e CFTV.</p>
        </div>
    </div>
    <div class="row" id="paragrafo">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <h1 id="info">Contratos</h1>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
            <p id="infoParagrafo">Atendemos as demandas de nossos clientes através de contratos com cronograma de atendimento mensal ou em chamados individuais.</p>
            <p id="infoParagrafo">Através de nossos controles de chamados e atendimentos, podemos oferecer a nossos clientes relatórios mensais dos serviços realizados.</p>
        </div>
    </div>
</div>